* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-size: 100%; */
  letter-spacing: 2px;
  background-color: rgb(21, 21, 21);
}

.App {
  text-align: center;
}

button {
  width: auto;
  /* height: 2rem; */
  font-size: 2rem;
  background-color: rgb(138, 234, 234);
}

span {
  font-size: 2rem;
  color: blue;
}

h1 {
  color: rgb(15, 43, 255);
  font-size: 3rem;
}

h2 {
  color: rgb(61, 63, 64);
  font-size: 2rem;
}

.btn {
  width: 8rem;
}

.state1 {
  background: sandybrown;
}

.state2 {
  background: thistle;
}

.example1 {
  background-color: lightsalmon;
}

.data {
  font-size: 2rem;
}

.form-content {
  font-size: 3rem;
}

.form input {
  /* font-size: 2rem; */
  width: 25%;
  height: 3rem;
  margin: 20px;
}
