* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-size: 100%; */
  letter-spacing: 2px;
  background-color: rgb(21, 21, 21);
}

.App {
  text-align: center;
}

button {
  width: auto;
  /* height: 2rem; */
  padding: 5px 20px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 20px;
  background-color: rgb(190, 192, 192);
  cursor: pointer;
}

span {
  font-size: 2rem;
  color: rgb(60, 60, 61);
}

h1 {
  color: rgb(255, 179, 15);
  font-size: 3rem;
}

h2 {
  color: rgb(61, 63, 64);
  font-size: 2rem;
}

.btn {
  width: 8rem;
}

.state1 {
  background: sandybrown;
}

.state2 {
  background: thistle;
}

.example1 {
  background-color: lightsalmon;
}

.data {
  font-size: 2rem;
}

.form-content {
  font-size: 3rem;
}

.form input {
  /* font-size: 2rem; */
  width: 25%;
  height: 3rem;
  margin: 20px;
}

.list {
  width: auto;
  padding: 10px;
  background-color: rgb(205, 205, 204);
  color: rgb(63, 62, 62);
  margin: 10px;
}

h3 {
  color: white;
}
